{%extends "base.html"%}
    <!-- Load CSS/Bootstrap -->
    {% block content%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Missing Persons Data</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000">Table Data</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Missing Persons</a></li>
            </ul>
        </div>
    </div>
</nav>
        <h1>{{ item.first_name }} {{ item.last_name }}</h1>
        <p>Date Missing: {{ item.date_missing }}</p>
        <p>Age at missing: {{ item.age_at_missing }}</p>
{%endblock%}
</html>
